# Auto generated
node_modules
.pnpm-store

# Local env files
.env

# Built files
/dist
*.tsbuildinfo

# MacOS files
**/.DS_Store

# Next.js dashboard
src/apps/dashboard/.next
src/apps/dashboard/out
src/apps/dashboard/.env.local
